footer {
  background-color: #333;
  background-image: url("/assets/images/footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  color: white;
  padding: 1rem;
  text-align: center;

}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #555;
  }
}
