footer {
  background-color: #000;
  // background-image: url("footer.avif");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: white;
  padding: 1rem;
  text-align: center;
  height: 42vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #555;
  }
}

.logo {
  background-image: url('../../../assets/icons/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 75px;
  width: 325px;
}
