<header class="header-content">
  <div class="social-links">
    @for (link of socialLinks; track link) {
      <a [href]="link.href" target="_blank">
        <app-icon [icon]="link.icon"></app-icon>
      </a>
    }
  </div>
  <nav>
    <ul>
      <div class="logo" routerLink="/"></div>
      <div>
        @for (link of navLinks; track link) {
          <li>
            <a [routerLink]="link.routerLink">{{ link.label }}</a>
          </li>
        }
        <li>
          @if (authService.isAuthenticated()) {
            <a [routerLink]="['/admin-events']">Manage Events</a>
          }
        </li>
        <li>
          @if (authService.isAuthenticated()) {
            <a (click)="logout()">Logout</a>
          } @else {
            <a routerLink="/login">Login</a>
          }
        </li>
      </div>
    </ul>
  </nav>
</header>
