<header class="header-content">
  <div class="social-links">
    <a href="https://www.facebook.com/profile.php?id=61554991253401" target="_blank">
      <app-icon icon="facebook"></app-icon>
    </a>
    <a href="https://www.instagram.com/anticore_lviv/" target="_blank">
      <app-icon icon="instagram"></app-icon>
    </a>
    <a href="t.me/@direct_hit_from_below" target="_blank">
      <app-icon icon="telegram"></app-icon>
    </a>
  </div>
  <nav>
    <ul>
      <div class="logo"  routerLink="/"></div>
      <div>
        <li><a routerLink="/events">Events</a></li>
        <li><a routerLink="/contact-us">Contact Us</a></li>
        <li><a routerLink="/info">Info</a></li>
        <li><a routerLink="/fundraising">Fundraising</a></li>
      </div>
    </ul>
  </nav>
</header>
